
<div  class="toolbar">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click) = "openslidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span class="Topcard">Pariwat Paiwong</span>
    <button mat-icon-button disabled></button>
    <span class="Topcard">Logout</span>
    <button mat-icon-button disabled></button>
    <button mat-icon-button class="example-icon" >
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar>
</div>
<app-maindata></app-maindata>
